@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

.container {
    width: 100%;
    overflow: hidden;    
}

.grid {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    display: flex; 
    align-items: center;
    gap: 50px;
    padding: 0 20px; 
}

.home {
    width: 100%;
    padding: 80px 0; 
}

header {
    width: 100%;
    height: 100px;
    border-bottom: 1px solid #000;
    background-color: #715A5A;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
}

.container-header {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 0 20px;
}

nav ul {
    display: flex;
    gap: 30px;
}

nav ul li {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 16px;
}

.container-texto {
    width: 50%; 
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 25px;
}

.container-texto a, .cta-content a {
    width: 200px;
    background-color: #000;
    height: 40px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
}

.container-texto p {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 16px;
    text-align: justify;
}

.container-texto strong {
    font-weight: bold;
}

.container-texto ul li {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 16px;
}

.container-texto ul {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 10px;
}

.container-img {
    width: 50%; 
    height: 100%;
}

.container-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container-texto h1 {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 36px;
}


.beneficios {
    padding: 50px 0;         
    text-align: center;
    font-family: "Roboto", sans-serif;
    background-color: #44444E;
}

.beneficios .container {
    margin: 0 auto;
    padding: 0 20px;
}

.beneficios h2 {
    font-size: 32px;
    font-weight: 700;
    color: #fff;
    margin-bottom: 40px; 
    line-height: 1.3;
}

.beneficios-grid {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    flex-wrap: wrap;
}

.beneficio-item {
    width: 20%;
    min-width: 260px;
}

.beneficio-item img {
    width: 40px;
    margin-bottom: 15px;
}

.beneficio-item h3 {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 10px;
    color: #fff;
}

.beneficio-item p {
    font-size: 14px;
    color: #fff;
    line-height: 1.4;
}

.content .container-texto {
    order: 1;
}


.testemunhos {
    padding: 80px 0; 
    text-align: center;
    font-family: "Roboto", sans-serif;
    width: 100%;    
    background-color: #715A5A;
    object-fit: cover;
}


.testemunhos h2 {
    font-size: 36px;
    font-weight: 700;
    color: #FFF;
    margin-bottom: 10px;
}

.testemunhos .subtitulo {
    font-size: 14px;
    color: #FFF;
    margin-bottom: 40px; 
    line-height: 1.5;
}

.grid-testemunhos {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    flex-wrap: wrap;
}

.card-testemunho {
    width: 30%;
    min-width: 260px;
    text-align: left;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.estrelas {
    font-size: 20px;
    color: #FFF;
    margin-bottom: 20px;
}

.card-testemunho .texto {
    font-size: 15px;
    line-height: 1.5;
    color: #FFF;
    font-weight: 500;
    margin-bottom: 30px;
}

.autor {
    display: flex;
    align-items: center;
    gap: 12px;
}

.autor .foto {
    width: 50px;
    height: 50px;
    background: #e0e0e0;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.autor strong {
    font-size: 14px;
    color: #FFF;
}

.autor span {
    font-size: 13px;
    color: #FFF;
}


.faq {
    padding: 80px 0; 
    font-family: "Roboto", sans-serif;
}

.faq-container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 20px;
    text-align: center;
}

.faq h2 {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 10px;
}

.faq-subtitulo {
    font-size: 14px;
    color: #555;
    line-height: 1.6;
    margin-bottom: 40px;
}

.accordion-item {
    border-bottom: 1px solid #000;
}

.content {
    padding: 80px 0;
}

.accordion-header {
    width: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 16px;
    font-weight: 600;
    text-align: left;
    padding: 18px 0;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.accordion-header .arrow {
    font-size: 18px;
    transition: transform .3s ease;
}

.accordion-item.active .arrow {
    transform: rotate(180deg);
}

.accordion-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height .3s ease;
}

.accordion-content p {
    font-size: 14px;
    color: #444;
    padding: 10px 0 20px 0;
    text-align: left;
}


.cta-content {
    width: 100%;
    height: 420px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #44444E;
    gap: 30px;    
}

.cta-content h2 {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 32px;
    color: #fff;
}

.cta-content span {
    font-family: "Roboto", sans-serif;
    font-weight: 200;
    font-size: 18px;
    color: #fff;
}

@media (max-width: 768px) {
    html, body {
        overflow-x: hidden;
    }
    
    .container {
        width: 100%;
        overflow: hidden;
    }
    
    .container-header {
        padding: 0 20px;
        flex-direction: column;
        gap: 15px;
        height: auto;
        padding: 20px;
    }

    .grid {
        flex-wrap: wrap;
    }

    .home, .content {
        width: 100%;
        max-width: 100%;
        flex-direction: column;
        height: auto;        
        gap: 30px;
    }

    .container-texto, .container-img {
        width: 100%;
        text-align: center;
    }

    .container-img img {
        max-width: 100%;
        height: auto;
    }

    .beneficios .container,
    .faq-container {
        max-width: 100%;
        padding: 0 20px;
    }

    .faq.container p {
        text-align: justify;
    }

    .beneficios-grid,
    .grid-testemunhos {
        width: 100%;
        flex-direction: column;
        align-items: center;
    }

    .card-testemunho {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .card-testemunho .autor {
        display: flex;
        justify-content: center;
    }

    .beneficio-item,
    .card-testemunho {
        width: 100%;
        max-width: 100%;
        text-align: center;
    }

    .card-testemunho p {
        text-align: justify;
    }
    
    .beneficios,
    .testemunhos,
    .faq {
        padding: 50px 0; 
    }

    .cta-content {
        padding: 50px 20px; 
        text-align: center;
        height: auto;
        margin: 50px 0 0 0; 
    }

    nav ul {
        flex-wrap: wrap;
        justify-content: center;
    }
    
    .container-texto h1 {
        font-size: 28px;
        line-height: 1.3;
    }
    
    .container-texto a, .cta-content a {
        width: 180px;
    }

    a {
        width: 100% !important;
    }
}

